<div class="form-group">
    <form class="row row-cols-2" *ngIf="products.length > 0">
        <div class="col" *ngFor="let product of products">
            <div class="card h-100">
                <img src="assets/image/tv1.jpg" class="card-img-top" alt="...">
                <div class="">
                    <h5 class="card-title">{{product.nombre_producto}}</h5>
                    <p class="card-text">{{product.fecha_registro | date}}</p>
                </div>
            </div>
        </div>
    </form>
</div>