
<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let product of productos;let i = index">
        <div class="card h-100">
            <img [src]="product.url" class="card-img-top" alt="...">
            <div class="card-body" *ngIf="editar(product.id_producto)">
                <h5 class="card-title">{{product.nombre_producto}}</h5>
                <div *ngIf="eventEdit">
                    <button type="button" data-toggle="modal" data-target="#modal" (click)="productModel = product"><i class="fas fa-pencil-alt" style="color: grey"></i></button>
                    <button (click)="getProduct(product,2,i)"><i class="far fa-trash-alt" style="color: red;"></i></button>
                </div>
                <div *ngIf="!eventEdit">
                    <a (click)="getProduct(product)">
                        <span class="text-uppercase font-weight-bold">Jarra hervidora</span> <br>
                        <span>Compre ahora</span> <i class="fas fa-caret-right"></i>
                    </a>
                </div>
            </div>


            <div class="modal fade bd-example-modal-xl" data-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content m-5">
                        <div class="container-fluid p-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <form class="px-4 py-3">
                                                <div appNgDropFiles [archivos]="archivos" (sizefile)="sizefile = $event" (mouseSobre)="mouseSobreElemento=$event" [ngClass]="{'file-over':mouseSobreElemento}" class="form-group">
                                                    <h5>Deje caer aquí los archivos</h5>
                                                    <img src="assets/image/drop-images.png" width="30" height="150">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    <input [(ngModel)]="productModel.nombre_producto" name="nombre" type="text" class="form-control" placeholder="Ingrese el nombre_producto">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    <input [(ngModel)]="productModel.cantidad" name="cantidad" type="number" class="form-control" placeholder="Ingrese la cantidad">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    <input type="number" class="form-control" [(ngModel)]="productModel.precio" name="precio" placeholder="Ingrese el precio">
                                                </div>
                                                <select class="custom-select" name="categoria" [(ngModel)]="productModel.categoria.id_categoria">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <hr>
                                                <button (click)="getProduct(productModel,1)" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                                                <button (click)="limpiarModelo()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{productModel.nombre_producto}}</h5>
                                            <p class="card-text">{{productModel.cantidad}}</p>
                                            <p class="card-text">{{productModel.categoria.id_categoria}}</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!--<div class="card-body" *ngIf="!editar(product.id_producto)">
                <input [(ngModel)]="product.id_producto" name="nombre" type="text" class="form-control" placeholder="Ingrese el nombre_producto">
                <input [(ngModel)]="product.nombre_producto" name="nombre" type="text" class="form-control" [value]="product.nombre_producto" placeholder="Ingrese el nombre_producto">
                <input [(ngModel)]="product.cantidad" name="cantidad" type="number" class="form-control" [value]="product.cantidad" placeholder="Ingrese la cantidad">
                <input [(ngModel)]="product.precio" name="precio" type="number" class="form-control" [value]="product.precio" placeholder="Ingrese el precio">
                <select [(ngModel)]="product.categoria.id_categoria" name="categoria" class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button (click)="getProduct(product,1)">Guardar</button>
                <button (click)="elementEdit = 0">Cancelar</button>
            </div>-->

<!-- (click)="elementEdit = product.id_producto"-->