<h1 class="h2">Productos</h1>

<div class="btn-group mr-2 mb-2">
    <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-sm btn-outline-secondary">Agregar</button>
    <button type="button" (click)="eventEdit = !eventEdit" class="btn btn-sm btn-outline-secondary">Editar</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" value="Eliminar">Eliminar</button>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownCont">
        Cambiar contenido
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownCont">
        <a class="dropdown-item" (click)="verTabla(true)">Tabla</a>
        <a class="dropdown-item" (click)="verTabla(false)">Cartas</a>
    </div>
</div>

<app-products *ngIf="!mostrarTabla" [productos]="productos" (evento)="btn = $event" (index)="index = $event" [eventEdit]="eventEdit"  ></app-products>

<div *ngIf="mostrarTabla" class="card">
    <div class="card-header bg-primary">
        <h5 class="text-white">Listado de Pedidos</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Fecha de Registro</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of productos;let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{prod.nombre_producto}}</td>
                    <td>{{prod.categoria.nombre_categoria}}</td>
                    <td>{{prod.fecha_registro}}</td>
                    <td>{{prod.estado}}</td>
                    <td>{{prod.cantidad}}</td>
                    <td>{{prod.precio}}</td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#editar" (click)="productoModel = prod" class="btn btn-info text-white">Editar</button>

                        <button (click)="acciones('eliminar',prod,i)" class="btn btn-danger text-white">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL-->
<div class="modal fade " id="editar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content m-5">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="dropdowntoggle">Producto</label>
                                <input [(ngModel)]="productModel.nombre_producto" name="nombre" class="form-control" id="dropdowntoggle" type="text" data-toggle="dropdown" placeholder="Search" aria-label="Search" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="dropproducto">Categoria</label>
                                <input [(ngModel)]="productModel.categoria.nombre_categoria" name="namecategoria" class="form-control" id="dropproducto" type="text" data-toggle="dropdown" placeholder="Search" aria-label="Search" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
                                    <div class="form-group">
                                        <select class="custom-select" size="3" name="cliente">
                                            <option (click)="pedidoModel.producto = prod" *ngFor="let prod of productos" >{{prod.nombre_producto}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="validationDefault03">Cantidad</label>
                                <input #preciototal [(ngModel)]="productModel.cantidad" name="cantidad" type="text" class="form-control" id="validationDefault03" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="validationDefault03">Estado</label>
                                <input [(ngModel)]="productModel.estado" name="estado" type="text" class="form-control" id="validationDefault03" disabled>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="validationDefault03">Fecha de Registro</label>
                                <input [(ngModel)]="productModel.fecha_registro" name="fecha" type="text" class="form-control" id="validationDefault03" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="validationDefault03">Precio</label>
                                <input #preciototal [(ngModel)]="productModel.precio" name="precio" type="text" class="form-control" id="validationDefault03" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="acciones('editar',productModel)" class="btn btn-primary text-white" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>