<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let product of products">
        <div class="card h-100">
            <img src="assets/image/tv1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.nombre_producto}}</h5>
                <p class="card-text">{{product.fecha_registro}}</p>
            </div>
        </div>
    </div>
</div>