<!--- --------------------- -->
<div class="container m-3">
    <div class="row">
        <div class="col-md">
            <div class="px-3 my-3 text-center text-md-left">
                <div class="cart-item-img mx-auto mx-md-0 mb-3">
                    <img class="img-fluid" [src]="producto.url" alt="">
                </div>
            </div>
        </div>
        <div class="col-md">
            <form>
                <p class="h1">{{producto.nombre_producto}}</p>
                <div class="px-3 my-3 text-left">
                    <div class="cart-item-label text-uppercase text-secondary font-weight-bold">
                        Cantidad
                    </div>
                    <div class="d-inline-block mt-2">
                        <button type="button" class="btn btn-light" (click)="incrementMethod('-')">-</button>
                        <span class="btn btn-light">{{increment}}</span>
                        <button type="button" class="btn btn-light" (click)="incrementMethod('+')">+</button>
                    </div>
                </div>

                <div class="px-3 my-3 text-left">
                    <h5 class="cart-item-label text-uppercase text-secondary font-weight-bold">Precio</h5>
                    <p class="h3">s/.{{producto.precio}}</p>
                </div>
                <input type="text" name="descrip" [(ngModel)]="descripcion">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="agregarCarrito()" [disabled]="loading">
                    <i [ngClass]="{'fa-save':!loading, 'fa-refresh fa-spin':loading}" class="fa"></i>
                    <span *ngIf="!loading">Añadir al carrito</span>
                    <span *ngIf="loading">Añadiendo...</span>
                </button>
            </form>
        </div>
    </div>
</div>