<div class="card">
    <div class="card-header bg-primary">
        <h5 class="text-white">Listado de Pedidos</h5>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha realizada</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos;let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{pedido.pedido.cliente.nombreCliente}} {{pedido.pedido.cliente.documentoId}}</td>
                    <td>{{pedido.producto.nombre_producto}}</td>
                    <td>{{pedido.cantidad}}</td>
                    <td>{{pedido.pedido.fechaPedido}}</td>
                    <td>{{pedido.precioUnitario}}</td>
                    <td>{{pedido.precioTotal}}</td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#editar" (click)="pedidoModel = pedido" class="btn btn-info text-white">Editar</button>

                        <button (click)="acciones('eliminar',pedido,i)" class="btn btn-danger text-white">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL-->
<div class="modal fade " id="editar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content m-5">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="dropdowntoggle">Cliente</label>
                                <input [(ngModel)]="pedidoModel.pedido.cliente.nombreCliente" name="cliente" class="form-control" id="dropdowntoggle" type="text" data-toggle="dropdown" placeholder="Search" aria-label="Search" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
                                    <div class="form-group">
                                        <select class="custom-select" size="3" name="cliente">
                                            <option *ngFor="let cliente of clientes" (click)="pedidoModel.pedido.cliente = cliente" >{{cliente.nombreCliente}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="dropproducto">Producto</label>
                                <input [(ngModel)]="pedidoModel.producto.nombre_producto" name="producto" class="form-control" id="dropproducto" type="text" data-toggle="dropdown" placeholder="Search" aria-label="Search" aria-haspopup="true" aria-expanded="false">
                                <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
                                    <div class="form-group">
                                        <select class="custom-select" size="3" name="cliente">
                                            <option (click)="pedidoModel.producto = prod" *ngFor="let prod of productos" >{{prod.nombre_producto}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="validationDefault03">Cantidad</label>
                                <input [(ngModel)]="pedidoModel.cantidad" name="cantidad" type="text" class="form-control" id="validationDefault03" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="validationDefault03">Precion Unitario</label>
                                <input [(ngModel)]="pedidoModel.precioUnitario" name="preciounitario" type="text" class="form-control" id="validationDefault03" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="validationDefault03">Precio Total</label>
                                <input #preciototal [(ngModel)]="pedidoModel.cantidad*pedidoModel.precioUnitario" name="preciototal" type="text" class="form-control" id="validationDefault03" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="acciones('editar',pedidoModel,preciototal.value)" class="btn btn-primary text-white" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>