<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="false">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" routerLink="home">Don Pepe</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['category','televisores']">Televisores <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['category','electrohogar']">Electrohogar</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['category','audios']">Audios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['category','celulares']">Celulares</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['category','videojuegos']">Video Juegos</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <div class="form-inline my-2 my-xl-0 left">
            <div class="form-group">
                <div class="nav-item dropdown">
                    <input #search (keyup)="buscar(search.value)" class="form-control mr-sm-2" id="dropdowntoggle" type="search" data-toggle="dropdown" placeholder="Search" aria-label="Search" aria-haspopup="true" aria-expanded="false">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <div class="container-md">
                        <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
                            <app-buscar [products]="productos" [query]="consultas"></app-buscar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--- ----------------------------------------------------------------------------------------->
<div class="custom-nav-container d-flex align-items-center justify-content-between px-2 py-3 shadow-sm" *ngIf="true">
    <a class="text-clipped navbar-brand " routerLink="home">
        <i class="fab fa-angellist d-flex">
            <span class="m-auto">Don Pepe</span>
        </i>
    </a>

    <div class="main-nav-outer d-flex">
        <i class="fal fa-times text-clipped menu-close-icon d-lg-none">

        </i>
        <nav class="main-nav navbar navbar-light navbar-expand-lg text-center m-auto">
            <ul class="navbar-nav d-flex">
                <li class="nav-item active" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['category','televisores']">Televisores <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['category','electrohogar']">Electrohogar</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['category','audios']">Audios</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['category','celulares']">Celulares</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['category','videojuegos']">Video Juegos</a>
                </li>
            </ul>
        </nav>
    </div>


    <div class="nav-icons-container d-flex justify-content-between">
        <div class="nav-icons">
            <a href="#">
                <i class="fal fa-search text-clipped"></i>
            </a>
        </div>
        <div class="nav-icons">
            <a [routerLink]="['cart']">
                <i class="fal fa-shopping-bag bag-item-count text-clipped"></i>
                <span *ngIf="!loading" class="badge">{{numberCart}}</span>
                <!--<div *ngIf="loading" class="spinner-border" role="status">

                </div>-->
                <span class="badge">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></span>
                </span>
            </a>
        </div>
        <div class="nav-icons">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="fal fa-user text-clipped"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <form action="" class="p-2 txt-secondary">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Ingresa tu email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Ingresa tu contraseña" required>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdown-checkbox">
                            <label class="form-check-label" for="dropdown-checkbox">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-bg my-" name="button">Ingresar</button>
                    </form>
                    <div class="dropdown devider nt-0"></div>
                    <a href="#" class="dropdown-item">¿No tienes una cuenta? Resgistrate</a>
                    <a href="#" class="dropdown-item">¿Olvidaste tu contraseña? Restablecerlo</a>
                </div>
            </div>
        </div>
        <div class="nav-icons d-lg-none">
            <i class="fal fa-bars open-menu-icon text-clipped"></i>
        </div>
    </div>
</div>

<!-- -------------------------------------A-D-M-I-S-T-R-A-D-O-R------------------------------------- -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="false">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" routerLink="home">Don Pepe</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link">Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['admin','productos']">Productos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Vendedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Repostes</a>
            </li>
        </ul>
    </div>
</nav>