<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column sr-only">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span> Gestion de Productos<span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Gestion Empresarial</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action mt-1 mb-1 active" href="#list-home">Inicio</a>
                    <a class="list-group-item list-group-item-action mt-1 mb-1" href="#list-profile">Productos</a>
                    <a class="list-group-item list-group-item-action mt-1 mb-1" href="#list-messages">Pedidos</a>
                    <a class="list-group-item list-group-item-action mt-1 mb-1" [routerLink]="['/admin','cliente']" routerLinkActive="router-link-active">Clientes</a>
                    <a class="list-group-item list-group-item-action mt-1 mb-1" href="#list-profile">Reportes</a>
                    <ul class="list-group ml-2">
                        <li class="">
                            <a class="list-group-item list-group-item-action mt-1 mb-1 active" href="#">
                                Clientes Top
                            </a>
                        </li>
                        <li class="">
                            <a class="list-group-item list-group-item-action mt-1 mb-1 active" href="#">
                                Productos mas vendidos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                    <section style="flex:1;">
                        <!--<app-crud-pedidos></app-crud-pedidos>-->
                        <app-crud-producto></app-crud-producto>
                    </section>

                </div>
            </div>
        </main>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')
</script>
<script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="dashboard.js"></script>