<section class="-my-cart p-0">
    <div class="heading-has-bg d-flex">
        <div class="container text-left align-self-center">
            <h1 class="text-uppercase">Cart</h1>
        </div>
    </div>
    <div class="container py-5" *ngFor="let pedido of pedidos;let i = index">
        <div class="cart-item-container d-md-flex justify-content-between py-3 mb-5">
            <span class="remove-cart-item bg-danger d-flex" (click)="deletePedido(pedido.idPedidoProducto,i)">
                <i class="fal fa-times m-auto text-white"></i>
            </span>

            <div class="px-3 my-3 text-center text-md-left">
                <a href="#">
                    <div class="cart-item-img mx-auto mx-md-0 mb-3">
                        <img class="img-fluid" [src]="pedido.producto.url" alt="">
                    </div>
                    <div class="cart-item-product-info">
                        <h5 class="text-uppercase">{{pedido.producto.nombre_producto}}</h5>
                        <span><strong>Id:</strong> {{pedido.idPedidoProducto}}</span>
                        <span><strong>Cantidad:</strong> {{pedido.cantidad}}</span>
                    </div>
                </a>
            </div>

            <div class="px-3 my-3 text-center">
                <div class="cart-item-label text-uppercase text-secondary font-weight-bold">
                    Cantidad
                </div>
                <div class="d-inline-block">
                    <select class="form-control" name="cantidad" [ngModel]="pedido.cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>

            <div class="px-3 my-3 text-center">
                <h5 class="cart-item-label text-uppercase text-secondary font-weight-bold">Precio</h5>
                <span>s/. {{pedido.precioUnitario}}</span>
                <span>Total: s/. {{pedido.precioTotal}}</span>
            </div>

            <div class="px-3 my-3 text-center">
                <h5 class="cart-item-label text-uppercase text-secondary font-weight-bold">Aplicar Cupon</h5>
                <span>---</span>
            </div>
        </div>
    </div>
</section>