.heading-has-bg {
    background: linear-gradient(to left, #0c3866, #ce181e);
    height: 30vh;
}

.heading-has-bg h1 {
    font-family: inherit;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0.625rem 0.3rem rgba(0, 0, 0, .4);
}

.cart-item-container {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.cart-item-img {
    max-width: 350px;
}

.remove-cart-item {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}