/* You can add global styles to this file, and also import other style files */

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: #6c757d;
}

img {
    width: 100%;
    max-width: 100%;
}

section {
    padding: 50px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    border: none;
    color: #6c757d;
}

.btn-bg {
    color: #fff;
    background: linear-gradient(to left, #0c3866, #ce181e);
}

.btn-bg:hover {
    color: #fff;
    background: linear-gradient(to right, #0c3866, #ce181e);
}

.text-clipped {
    padding: 1px;
    background: linear-gradient(to bottom, #0c3866, #ce181e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}


/*Estilos del header*/

.custom-nav-container {
    position: relative;
    z-index: 1;
}

.custom-nav-container i {
    font-size: 20px;
    cursor: pointer;
}

.main-nav-outer {
    width: 258px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -250px;
    border-left: 5px solid #eee;
    z-index: 1500;
    transition: 650ms all;
}

.main-nav-outer.open-menu {
    right: 0;
}

.menu-close-icon {
    position: absolute;
    top: 5px;
    left: 10px;
}

.main-nav .nav-link {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-icons-container {
    width: 100%;
    max-width: 125px;
}

.nav-icons-container i:hover {
    opacity: .7;
}

.navbar-brand i {
    font-size: 48px;
}

.navbar-brand i span {
    font-size: 28px;
    font-family: fantasy;
    ;
    font-weight: 100;
}

.nav-icons>a {
    position: relative;
}

.nav-icons>a>.badge {
    position: absolute;
    top: -10px;
    right: -16px;
    background-color: #ce181e;
    color: #fff;
    border-radius: 100%;
}

.nav-icons .dropdown-menu {
    margin-top: 40px;
    margin-left: -230px;
    position: relative;
    background-color: #fff;
}

.nav-icons .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 40px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: inherit;
    transform: rotate(45deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    color: #333;
}

.promotions {
    background-color: #333;
    font-size: 14px;
}

.carousel {
    z-index: 0;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    opacity: 1;
}

.carousel-control-prev {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.carousel-control-next {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}


/*responsive*/

@media (min-width: 992px) {
    .main-nav-outer {
        width: initial;
        height: initial;
        background: initial;
        position: initial;
        border: none;
    }
    .nav-icons .dropdown-menu {
        margin-left: -260px;
    }
    .nav-icons .dropdown-menu::before {
        right: 10px;
    }
}


/*Marcas*/

.feacture-brands img {
    max-width: 100px;
    max-height: 100px;
    opacity: .7;
    transition: opacity 650ms;
}

.feacture-brands img:hover {
    opacity: 1;
}


/*Home*/

.hero-img {
    padding: 15px;
    margin: auto;
}


/*Nuevos Productos*/

.arrivals {
    background-color: #f5f5f5;
}

.new-arrival-img {
    max-width: 300px;
    margin: auto;
}


/*Servicios*/

.our-services-icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: relative;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 100%;
}

.our-services-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #0c3866, #ce181e);
}

.our-services-icon i {
    font-size: 40px;
}

.our-services-description h5 {
    font-size: 16px;
}

.our-services-description p {
    font-size: 14px;
}


/*Footer*/

footer {
    color: #fff;
    background-color: #151515;
}

.footer-title {
    position: relative;
}

.footer-title h5 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 75);
}

.custom-border {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .1)
}

.custom-border::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: linear-gradient(to left, #0c3866, #ce181e);
}

.footer-list li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin: 15px 0;
    padding: 5px 0;
}

.footer-list li:last-child {
    border: none;
}

.footer-link {
    color: #fff !important;
    transition: opacity 650ms;
}

.footer-link:hover {
    opacity: .6;
}

hr {
    border-top-color: #ce181e !important;
}


/*Carrito*/


/*.heading-has-bg {
    background: linear-gradient(to left, #0c3866, #ce181e);
    height: 30vh;
}

.heading-has-bg h1 {
    font-family: inherit;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0.625rem 0.3rem rgba(0, 0, 0, .4);
}

.cart-item-container {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.cart-item-img {
    max-width: 350px;
}

.remove-cart-item {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}*/