<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-append">
                <button id="btnUpload" class="input-group-text upload">
                    Subir
                </button>
            </div>
            <div class="custom-file">
                <form>
                    <input type="file" class="custom-file-input" id="input-custom-file" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="input-custom-file">Elige un archivo</label>
                </form>
            </div>
        </div>
    </div>
</div>